body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стилі для навігації */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
}

.sidebar__list {
  list-style-type: none;
  padding: 0;
}

.sidebar__item {
  margin-bottom: 10px;
}

.sidebar__item a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.sidebar__sublist {
  margin-top: 5px;
  display: none;
}

.sidebar__sublist li {
  margin-left: 20px;
}

/* Стилі для контенту */
.content {
  margin-left: 200px; /* Ширина навігації */
  padding: 20px;
}

/* Активний підпункт */
.sidebar__item.active > .sidebar__sublist {
  display: block;
}

/* Змінюємо колір активного пункту */
.sidebar__item.active > a {
  background-color: #555;
}
